
<div class="container m-4">
    <div class="row">
        <div class="col">
            <h4>Lista de consultas Archivadas</h4>
        </div>
    </div>
</div>

<div class="container mx-5">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nombre y Apellido</th>
                <th>Email</th>
                <th>Atendido/Leido</th>
                <th>Mensaje</th>
            </tr>
        </thead>
        <tbody>
            {{range .Consults}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
                <td>{{.Attended}}</td>
                <td>{{.Description}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>