
<div class="container m-4">
    <h4>Lista de Consultas</h4>
</div>
<div class="container ms-auto">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nombre y Apellido</th>
                <th>Email</th>
                <th>Atendido/Leido</th>
                <th>Mensaje</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {{range .Consults}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
                <td>{{.Attended}}</td>
                <td>{{.Description}}</td>
                <td>
                    <a href="/attended-consult?id={{.ID}}">
                        <button class="btn my-btn-primary">
                            <img src="assets/img/icons/done.svg" width="20px" height="20px" alt="Atendido">
                        </button>
                    </a>
                    <a href="/archive-consult?id={{.ID}}">
                        <button class="btn btn-danger">
                            <img src="assets/img/icons/archive.svg" width="20px" height="20px" alt="Archivar">
                        </button>
                    </a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>