<section class="container my-5">
    <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4 text-center">Editar Producto</h1>
                    <form method="post" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label for="name" class="form-label">Nombre</label>
                            <input name="name" type="text" class="form-control" value="{{.values.name}}" placeholder="Nombre">
                            {{if .errors.name}}
                            <div class='alert alert-danger mt-2'>{{.errors.name}}</div>
                            {{end}}
                        </div>
                        <div class="mb-2">
                            <label for="price" class="form-label">Precio</label>
                            <input name="price" type="number" min='1' class="form-control" value="{{.values.price}}" placeholder="100.000,00">
                            {{if .errors.price}}
                            <div class='alert alert-danger mt-2'>{{.errors.price}}</div>
                            {{end}}
                        </div>
                        <div class="mb-2">
                            <label for="stock" class="form-label">Stock</label>
                            <input name="stock" type="number" min='1' class="form-control" value="{{.values.stock}}" placeholder="10">
                            {{if .errors.stock}}
                            <div class='alert alert-danger mt-2'>{{.errors.stock}}</div>
                            {{end}}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="id_categorie">Categoria</label>
                            </div>
                            <select class="custom-select" name="id_categorie">
                                <option selected>Elija una opcion</option>
                                {{range .Categories}}
                                <option value="{{.ID}}" {{if eq .ID $.Product.IDCategorie}}selected{{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                            {{if .errors.id_categorie}}
                            <div class='alert alert-danger mt-2'>{{.errors.id_categorie}}</div>
                            {{end}}
                        </div>
                        <div class="mb-2">
                            <label for="description" class="form-label">Descripcion</label>
                            <textarea name="description" class="form-control" rows="4">{{.values.description}}</textarea>
                            {{if .errors.description}}
                            <div class='alert alert-danger mt-2'>{{.errors.description}}</div>
                            {{end}}
                        </div>
                        <div class="mb-3">
                            <p>Imagen Original</p>
                            {{if .Product.Image}}
                            <img src="/assets/uploads/{{.Product.Image}}" class="img-thumbnail" height="50%" width="50%" alt="Imagen actual del producto">
                            {{else}}
                            <span>No se ha agregado una imagen</span>
                            {{end}}
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Archivo</label>
                            <input name="image" class="form-control" type="file">
                            {{if .errors.image}}
                            <div class='alert alert-danger mt-2'>{{.errors.image}}</div>
                            {{end}}
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="col-1">
                                <a href="/products"><button type="button" class="btn btn-danger">Cancelar</button></a>
                            </div>
                            <input type="submit" value="Actualizar" class="btn btn-success ms-auto">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>