<section class="container my-5">
    <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4 text-center">Producto Nuevo</h1>
                    <form method="post" action="/store-product" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label for="name" class="form-label">Nombre</label>
                            <input name="name" type="text" class="form-control" placeholder="Nombre">
                            {{if .Errors.Name}}
                                <div class='alert alert-danger mt-2'>
                                    {{.Errors.Name}}
                                </div>
                            {{end}}
                        </div>
                        <div class="mb-2">
                            <label for="price" class="form-label">Precio</label>
                            <input name="price" type="number" min='1' class="form-control" placeholder="100.000,00">
                            {{if .Errors.Price}}
                                <div class='alert alert-danger mt-2'>
                                    {{.Errors.Price}}
                                </div>
                            {{end}}
                        </div>
                        <div class="mb-2">
                            <label for="stock" class="form-label">Stock</label>
                            <input name="stock" type="number" min='1' class="form-control" placeholder="10">
                            {{if .Errors.Stock}}
                                <div class='alert alert-danger mt-2'>
                                    {{.Errors.Stock}}
                                </div>
                            {{end}}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="id_categorie">Categoria</label>
                            </div>
                            <select class="custom-select" name="id_categorie">
                                <option selected>Elije una...</option>
                                {{range .Categories}}
                                    <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                            </select>
                            {{if .Errors.Category}}
                                <div class='alert alert-danger mt-2'>
                                    {{.Errors.Category}}
                                </div>
                            {{end}}
                        </div>
                        <div class="mb-2">
                            <label for="description" class="form-label">Descripcion</label>
                            <textarea name="description" class="form-control" rows="4"></textarea>
                            {{if .Errors.Description}}
                                <div class='alert alert-danger mt-2'>
                                    {{.Errors.Description}}
                                </div>
                            {{end}}
                        </div>
                        <div class="mb-2">
                            <label for="image" class="form-label">Imagen del producto</label>
                            <input name="image" class="form-control" id="image" type="file">
                            {{if .Errors.Image}}
                                <div class='alert alert-danger mt-2'>
                                    {{.Errors.Image}}
                                </div>
                            {{end}}
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="col-1">
                                <a href="/products"><button type="button" class="btn btn-danger">Cancelar</button></a>
                            </div>
                            <input type="submit" value="Guardar" class="btn btn-success ms-auto">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>