<div class="container m-4">
    <div class="row">
        <div class="col">
            <h4>
                Mis pedidos
            </h4>
        </div>
    </div>
</div>

<div class="container mx-5">

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Precio Total</th>
                <th>Fecha</th>
                <th>Factura</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Sales }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ printf "$%.2f" .TotalPrice }}</td>
                    <td>{{ .Date }}</td>
                    <td>
                        <a href="/bill?id={{ .ID }}">
                        <button class="btn my-btn-primary fw-bold">
                            <img src="assets/img/icons/receipt.svg" width="20px" height="20px" alt="Archivar">
                            Ver
                        </button>
                        </a>
                        <a href="/bill-download?id={{ .ID }}">
                        <button class="btn btn-danger fw-bold">
                            <img src="assets/img/icons/download.svg" width="20px" height="20px" alt="Archivar">
                            Descargar
                        </button>
                        </a>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>
