<!-- templates/front/footer_view.html -->

<footer class="py-3 my-4">
    <div class="container-fluid">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary fw-bold">Inicio</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary fw-bold">Sobre Nosotros</a></li>
            <li class="nav-item"><a href="/termsanduses" class="nav-link px-2 text-body-secondary fw-bold">Términos y Condiciones</a></li>
        </ul>
        <p class="text-center text-body-secondary color-font-primary fw-bold"><span class="my-text-color-secondary">@2023</span> MountainTech, Inc</p>
    </div>
</footer>

</body>
</html>