
<section class="container my-5">
    <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4 text-center">Mis Datos</h1>

                    <div class="mb-2">
                        <label for="name" class="form-label"> <strong> Nombre: </strong> {{.User.Name}}</label>
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label"> <strong> Apellido: </strong> {{.User.LastName}}</label>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"> <strong> Correo electrónico: </strong> {{.User.Email}}</label>
                    </div>


                    <h1 class="fs-4 card-title fw-bold mb-4 text-center">Cambiar Contraseña</h1>
<form method="post" action="/update-password">
    <div class="mb-3">
        <label for="password" class="form-label">Nueva Contraseña</label>
        <input name="password" type="password" class="form-control" placeholder="Contraseña (mínimo 8 caracteres)">
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirmar Nueva Contraseña</label>
        <input name="confirm_password" type="password" class="form-control" placeholder="Repetir Contraseña">
    </div>
    <div class="d-flex align-items-center">
        <input type="submit" value="Actualizar" class="btn my-btn-primary ms-auto fw-bold">
    </div>
</form>

                    
                </div>
            </div>
        </div>


        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4 text-center">Mi Dirección</h1>
                    <form method="post" action="/update-address?id={{.User.ID}}">
                        <div class="mb-3">
                            <label for="street" class="form-label">Calle</label>
                            <input name="street" type="text" class="form-control" value="{{.Address.Street}}" placeholder="Calle">
                        </div>
                        <div class="mb-3">
                            <label for="postal_code" class="form-label">Código Postal</label>
                            <input name="postal_code" type="text" class="form-control" value="{{.Address.PostalCode}}" placeholder="Código Postal">
                        </div>
                        <div class="mb-3">
                            <label for="neighborhood" class="form-label">Barrio</label>
                            <input name="neighborhood" type="text" class="form-control" value="{{.Address.Neighborhood}}" placeholder="Barrio">
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">Ciudad</label>
                            <input name="city" type="text" class="form-control" value="{{.Address.City}}" placeholder="Ciudad">
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="submit" value="Actualizar" class="btn my-btn-primary ms-auto fw-bold">
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</section>

